/* html,
body {
    height: 100%;
    margin: 0;
} */

.header {
    display: flex;
    justify-content: center;
}

#eas-layout {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.grid-options {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

}

.grid-size-label {
    margin: 0 10px;
}

.grid-size-panel {
    display: flex;
    align-items: center;
}

button {
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    padding: 8px;
    margin: 15px 10px;
}

.eas-display {
    border: black;
    border-style: solid;

}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.col {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 50px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}